html, body {
    height: 100%;
    background-color: #116466
}

.form-login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-register {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
